.navigation{
    background-color: rgb(120, 142, 252);
    padding: 15px;
    display: flex;
    align-items: center;
}

.link{
    color: rgb(0, 0, 0);
    margin: 0 20px;
    font-size: 24px;
    padding: 2px 7px;
}

.link:hover{
    color: rgb(230, 230, 230);
}

.main{
    margin: 50px
}

